{% set data = cinema.data %}
{
  "slug": "{{ title | slug }}",
  "title": "{{ title | safe }}",
  "image": "{{ image | safe }}",
  "address": "{{ address | safe }}",
  "date_open": "{{ date_open | safe }}",
  "date_close": "{{ date_close | safe }}",
  "location": {{ location | safe }}
  {% if description.length %}, "description": "{{ description | markdownify | jsonify | safe }}"{% endif %}
  {% if description_extended.length %},"description_extended": "{{ description_extended | markdownify | jsonify | safe}}"{% endif %}

}
