{% set data = cinema.data %}
{
  "slug": "{{ title | slug }}",
  "title": "{{ title | safe }}",
  "image": "{{ image | safe }}",
  "address": "{{ address | safe }}",
  "date_open": "{{ date_open | safe }}",
  "date_close": "{{ date_close | safe }}",
  "location": {{ location | safe }},
  "description": "{{ description | striptags(false) }}",
  "description_extended": "{{ description_extended | striptags(false) }}"
}
