{% set data = cinema.data %}
{
  "slug": "{{ title | slug }}",
  "title": "{{ title | safe }}",
  "image": "{{ image | safe }}",
  "address": "{{ address | safe }}",
  "date_open": "{{ date_open | safe }}",
  "date_close": "{{ date_close | safe }}",
  "location": {{ location | safe }},
  "photos": [
    {% for photo in photo %}
      {
        "small": "{{ photo | replace('/image/upload/', '/image/upload/w_300,h_300,c_fill,q_65,f_auto/') | safe}}",
        "large": "{{ photo | replace('/image/upload/', '/image/upload/w_900,h_900,c_fit,q_85,f_auto/') | safe}}"
      }{% if loop.last %}{% else %},{% endif %}
    {% endfor %}
  ]
  {% if description.length %}, "description": "{{ description | markdownify | jsonify | safe }}"{% endif %}
  {% if description_extended.length %},"description_extended": "{{ description_extended | markdownify | jsonify | safe}}"{% endif %}

}
