<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
  	<title>Hiding in Plain Sight | Hyde Park Picture House</title>
    <link rel="stylesheet" href="/assets/app.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script>{{ site.data.site }}</script>
  </head>

  <body>
    {{ content | safe }}
  </body>
</html>