<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
  	<title>Hiding in Plain Sight | Hyde Park Picture House</title>
    <link rel="stylesheet" href="/assets/app.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>

  <body>
    <div id="app">
      {% include 'header.njk' %}
      {{ content | safe }}
    </div>
  </body>
</html>