$modularscale: (
  base: 1rem,
  ratio: 1.2
);

$sidebar-width: 300px;

$blue: #aecdeb;
$light-blue: #f0f6fc;
$red: #df7839;
$orange: #f4d582;
$cream: #fef6dd;

$base-timing: ease;
$base-duration: 500ms;