$modularscale: (
  base: 1rem,
  ratio: 1.2
);

$sidebar-width: 320px;

$light-gray: #f8f8f8;
$medium-gray: #efefef;
$gray: #85898E;
$black: #222;

$blue: #aecdeb;
$light-blue: #f0f6fc;
$red: #df7839;
$orange: #f4d582;
$cream: #fef6dd;

$base-timing: ease;
$base-duration: 500ms;

$base-radius: 0.25rem;