$modularscale: (
  base: 1rem,
  ratio: 1.2
);

$sidebar-width: 320px;

$light-gray: #f8f8f8;
$medium-gray: #efefef;
$gray: #85898E;
$black: #222;

$blue: #aecdeb;
$light-blue: #f0f6fc;
$red: #df7839;
$orange: #f4d582;
$cream: #fef6dd;

$base-timing: ease;
$base-duration: 500ms;

$base-radius: 0.25rem;

$box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;