---
permalink: /api/cinemas.json
---
[
  {% for cinema in collections.cinemas  %}
    {% set data = cinema.data %}
    {
      "slug": "{{ data.title | slug }}",
      "title": "{{ data.title }}",
      {% if data.image %}
        "image": "{{ data.image | safe }}",
        "image_small": "{{ data.image | replace('/image/upload/', '/image/upload/w_750,h_750,e_trim,c_crop,g_north/w_100,h_100,c_fill,g_north/f_auto/') | safe}}",
      {% endif %}
      "location": {{ data.location | safe }},
      "address": "{{ data.address | safe }}"
    }{{ '' if loop.last else ',' }}
  {% endfor  %}
]