<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
  	<title>Hiding in Plain Sight | Hyde Park Picture House</title>
    <link rel="stylesheet" href="/assets/app.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body style="height: 100vh; display: flex; flex-direction: row; justify-content: center; align-items: center; background-color: #fcf6dd;">
    <img style="display: block; width: 95%; max-width: 400px" src="/assets/images/holding-new.jpg" />
  </body>
</html>